apiVersion: 1

datasources:
  # Prometheus - 메트릭 (기본 데이터소스)
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  # Loki - 로그 집계
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        # traceId 클릭 시 Jaeger로 연결
        - datasourceUid: jaeger
          matcherRegex: '"traceId":"([a-f0-9]+)"'
          name: TraceID
          url: '$${__value.raw}'

  # Jaeger - 분산 추적
  - name: Jaeger
    type: jaeger
    uid: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: false
